<nav>
    <div class="container">
        <a href="" class="navbarlogo">Noots</a>
        <img src="" alt="">
        <ul class="navbar-ul">
            <li><a href="">My noots</a></li>
            <li>
                <form action="/signout" method="POST">
                    <button class="btn-signin">Sign out</button>
                </form>
            </li>
        </div>
    </ul>
</nav>