

<nav>
    <div class="container">

    <a href="" class="navbarlogo">Noots</a>
    <img src="" alt="">
    <ul class="navbar-ul">
        <li><a class="btn-signin" href="/login">Sign in</a></li>
        <li>or</li>
        <li><a class="btn-signup" href="/signup">Sign up</a></li>
    </div>
    </ul>
</nav>
