{% extends layout %}
{% block content%}
{% include 'components/navbar-index.njk' %}
<main class="container">

<div class="content">
    <h1>Sign in to see
        <span>Noots</span>
    </h1>
    <ul>
        <li><a class="Signin-noots" href="/login">Sign in</a></li>
        <li><a class="signup-index" href="/signup">Don't have an account? Sign up</a></li>
    </ul>
</div>
</main>
{% endblock%}