{% extends layout %}
{% block content%}
    <nav>
        <ul>        
            <a href="" class="navbarlogo">Noots</a>
            <img src="" alt="">
            <li><a href="/login">Sign in</a></li>
            <li><a href="/signup">Sign up</a></li>
        </ul>
    </nav>
    <div class="content">
        <h1>Sign in to see <span>Noots</span></h1>
        <a href="/login"><button class="Signin-noots">Sign in</button></a>
    </div>
    <a href="/signup">Don't have an account? Sign up</a>


{% endblock%}