{% extends layout %}
{% block content%}
    <form method = "post" action="/signup/">
        <div class="login">
            <input type="text" id="name" name="name" class="form-control" placeholder="Username" aria-label="Username">
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" aria-label="Password"> 
            <button type="submit" class="btn btn-primary btn-sm">Sign up</button>
        </div>
    
    
    </form>

{% endblock%}