body{
    background-color: #EFFFFD;
}
.content{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    
    h1{
        font-size: 60px;
    }
    ul{
        list-style: none;
        padding: 10px;
        line-height: 3;
    }
    span{
        font-family: 'Shadows Into Light', cursive;
        font-size: 70px;
    }
    .Signin-noots{
        border: none;
        border-radius: 6px;
        background-color: #5398FF;
        width: 50%;
        font-size: 40px;
        margin: auto;
        padding: 15px 40px 15px 40px;
        color: #FFFFFF;
        text-decoration: none;
    }

    button:hover{
        background-color: #86b5fc;
        transition: 0.15s;
    }
}

