.login {
    background-color: rgb(255, 255, 255);
    margin: auto;
    width: 30%;
    padding: 10px;
    border: 1px solid black;
    height: 300px;
    border-radius: 7px;


    input{
        background-color: #FAF3F3;
        border: 1px solid black;
    }

    .signin-btn {
        border: none;
        color: #FFFFFF;
        background-color: #5398FF;
        padding: 10px;
        border-radius: 5px;
        width: 30%;
    }

}

.noaccount {
    margin: auto;
    padding: 10px;
    width: 30%;
    text-align: center;
    border: 1px solid black;
    margin-top: 1rem;
    background-color: #FFFFFF;
    border-radius: 7px;

}