nav {
  background-color: #19647E;
  margin-bottom: 5%;
  height: 4rem; }
  nav .navbarlogo {
    line-height: 1.5;
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px; }
  nav .navbar-ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    line-height: 3.5;
    float: right; }
    nav .navbar-ul li .signup-button {
      background-color: transparent;
      border: 2px solid black;
      color: white;
      border-radius: 4px; }
    nav .navbar-ul li .btn-signin {
      text-align: center;
      text-decoration: none;
      margin: 0 0.25rem;
      padding: 0.375rem 0.75rem;
      color: white;
      background-color: #5398FF;
      border-radius: 4px;
      border: 1px solid transparent; }
    nav .navbar-ul li .btn-signup {
      text-align: center;
      text-decoration: none;
      margin: 0 0.25rem;
      padding: 0.375rem 0.75rem;
      color: white;
      background-color: transparent;
      border-radius: 4px;
      border: 1.5px solid black; }

body {
  background-color: #EFFFFD; }

.content {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center; }
  .content h1 {
    font-size: 60px; }
  .content ul {
    list-style: none;
    padding: 10px;
    line-height: 3; }
  .content span {
    font-family: 'Shadows Into Light', cursive;
    font-size: 70px; }
  .content .Signin-noots {
    border: none;
    border-radius: 6px;
    background-color: #5398FF;
    width: 50%;
    font-size: 40px;
    margin: auto;
    padding: 15px 40px 15px 40px;
    color: #FFFFFF;
    text-decoration: none; }
  .content button:hover {
    background-color: #86b5fc;
    transition: 0.15s; }

.login {
  background-color: white;
  margin: auto;
  width: 30%;
  padding: 10px;
  border: 1px solid black;
  height: 300px;
  border-radius: 7px; }
  .login input {
    background-color: #FAF3F3;
    border: 1px solid black; }
  .login .signin-btn {
    border: none;
    color: #FFFFFF;
    background-color: #5398FF;
    padding: 10px;
    border-radius: 5px;
    width: 30%; }

.noaccount {
  margin: auto;
  padding: 10px;
  width: 30%;
  text-align: center;
  border: 1px solid black;
  margin-top: 1rem;
  background-color: #FFFFFF;
  border-radius: 7px; }

.input-noots {
  background-color: #19647E;
  height: 170px;
  border-radius: 20px;
  box-shadow: 5px 10px #E8E8E8;
  margin-bottom: 4rem;
  color: #FFFFFF;
  padding-top: 20px; }
  .input-noots input {
    margin: 1rem 3rem 1rem 3rem;
    height: 4rem;
    border-radius: 0; }
  .input-noots h2 {
    margin: 0 0 0 3rem;
    font-size: 1.3rem; }

ul {
  margin: 0;
  padding: 0; }

.noot {
  background-color: #E8E8E8;
  border-radius: 20px;
  height: 170px;
  margin-bottom: 2.5rem; }

.noot-body {
  flex: 1 1 auto;
  padding: 1rem 1rem; }

.noot-header {
  background-color: #19647E;
  border-radius: 20px 20px 0 0;
  padding: 0.9rem 1.7rem;
  color: #FFFFFF; }

.noot-footer {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: .875em;
  color: #6c757d; }

.noot-delete {
  color: red; }

.noot-delete:hover {
  color: #ff8181; }

/*# sourceMappingURL=style.css.map */