nav{
    background-color: #19647E;
    margin-bottom: 10%;
    height: 4rem;

    ul{
        display: flex;
        list-style: none;
        justify-content: space-between;
        line-height: 3.5;
    }
}